@media screen and (max-width:1070px) {
    #container {
        margin-top: 130px ;
        flex-wrap: wrap;
    }
    .social_medias, .title {
        margin: 0;
        padding:0;
        font-size: 1.8rem;
    }
    #github,
    #linkedin,
    #facebook {
        height: 3.2rem;
        margin-right: 1rem;
    }
}

@media screen and (max-width:1000px){
    
    #card_collection {
        justify-content: space-evenly;
    }
    #container {
        display: inline-block;
    }

}

@media screen and (max-width:850px){
    #container {
        padding-top: 30px;
    }
}